<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nusantara Medical Care</title>
    <link rel="stylesheet" href="/css/Admin-SignIn-Style.css">
    <script src="/js/DokterSignIn.js" async></script>
</head>
<body>
    <header>
        <img src="/Image Assets/1.png" alt="" id="logoNMC">

        <h1>Nusantara Medical Care</h1>

        <div class="Informasi-Header">
            <span class="item-1">Hubungi Kami</span>
            <span class="item-2">Jam Operasional</span>
        </div>
    </header>

    <div class="blue-bar">
    </div>

    <div class="body-content">
        <div class="wraper">
            <form action="/administrator/main" method="POST">
                <h1>Nusantara Medical Care</h1>
                <div class="input-box1">
                    <input type="text" id="username-dokter" name="usernameDokter" placeholder="Username">
                </div>
                <div class="input-box2">
                    <input type="password" id="password-dokter" name="passwordDokter" placeholder="Password">
                </div>
                <!--Sementara jadi button dulu, nanti akan diubah tipenya ke submit-->
                <button type="submit" class="log-in-button">Log In</button>
            </form>
        </div>
    </div>
</body>
</html>