<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nusantara Medical Care</title>
    <link rel="stylesheet" href="/css/AdminMainStyle.css">
    <script src="/js/Bayar.js" defer></script>
</head>
<body>
    <header>
        <img src="/Image Assets/1.png" alt="" id="logoNMC">
        
        <h1>Nusantara Medical Care</h1>

        <div class="Informasi-Header">
            <span class="item-1">Hubungi Kami</span>
            <span class="item-2">Jam Operasional</span>
        </div>
    </header>

    <div class="blue-bar">
        <span>Selamat datang, <span th:text="${name}">Dokter</span></span>
        <img src="/Image Assets/icons8-person-50.png" alt="">
    </div>

    <div class="addBar">
        <button class="addPasien">+ Tambah Pasien Baru</button>
    </div>

    <div class="body-website">
        <div class="body-title">
            <h3>Daftar Pasien</h3>
            <table>
                <tr>
                    <th>No Rekam Medis</th>
                    <th>Nama Pasien</th>
                    <th>Tanggal Pendaftaran</th>
                    <th>Status Pendaftaran</th>
                    <th>Action</th>
                </tr>
                <tr>
                    <td>NMC-20240101</td>
                    <td>Feliks Mindo Tua Sitorus</td>
                    <td>13/05/2022</td>
                    <td>Offline</td>
                    <td>
                        <button class="action-btn" onclick="showPopup('Bayar')">Bayar</button>
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <!-- Popup Bayar -->
    <div id="popupBayar" class="popup">
        <div class="popup-content">
            <h3 id="popupTitle">Rincian Pembayaran</h3>
            <form>
                <label for="rekamMedis">No Rekam Medis:</label>
                <input type="text" id="rekamMedis" value="NMC-20240101" readonly>

                <label for="namaPasien">Nama Lengkap:</label>
                <input type="text" id="namaPasien" value="Feliks Mindo Tua Sitorus" readonly>

                <label for="tanggalPembayaran">Tanggal Pembayaran:</label>
                <input type="text" id="namaPasien" value="13/05/2022" readonly>

                <label for="biayaAdministrasi">Biaya Administrasi:</label>
                <input type="text" id="namaPasien" value="Rp 50.000" readonly>

                <label for="biayaTindakan">Biaya Tindakan:</label>
                <input type="text" id="namaPasien" value="Rp 50.000" readonly>

                <label for="totalPembayaran">Total Pembayaran:</label>
                <input type="text" id="totalPembayaran" value="">

                <button type="button" class="btn close-btn" onclick="hidePopup()">Kembali</button>
                <button type="submit" class="btn submit-btn">Cetak</button>
            </form>
        </div>
    </div>

</body>
</html>