<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nusantara Medical Care</title>
    <link rel="stylesheet" href="/css/KlinikPage.css">
    <script src="/js/KlinikPage.js"></script>
</head>

<body>
    <header>
        <img src="/Image Assets/1.png" alt="" id="logoNMC">

        <h1>Nusantara Medical Care</h1>

        <div class="Informasi-Header">
            <span class="item-1">Hubungi Kami</span>
            <span class="item-2">Jam Operasional</span>
        </div>
    </header>
    <div class="blue-bar">
        <button class="button">Sign In</button>
    </div>

    <div class="klinik-container">
        <button class="home">Home</button>
        <button class="penyakit-dalam">K.Penyakit Dalam</button>
        <button class="tht">K. THT</button>
        <button class="gigi">K. Gigi</button>
        <button class="mata">K. Mata</button>
        <button class="paru-paru">K. Paru-Paru</button>
    </div>

    <main>
        <section class="doctor-section">
            <div class="doctor-card">
                <img src="Image Assets/1.png" alt="fotoDokter">
                <div class="name-box">
                    <h3>Nama Dokter</h3>
                    <p>nama dokter terpilih</p>
                    <div class="social-media">
                        <a href="#"><img src="/Image Assets/in-logo.png" alt="LinkedIn"></a>
                        <a href="#"><img src="/Image Assets/fb-logo.png" alt="Facebook"></a>
                        <a href="#"><img src="/Image Assets/inta-logo.png" alt="Instagram"></a>
                    </div>
                </div>
                <button>Lihat Jadwal</button>
            </div>

            <div class="doctor-card">
                <img src="Image Assets/1.png" alt="fotoDokter">
                <div class="name-box">
                    <h3>Nama Dokter</h3>
                    <p>nama dokter terpilih</p>
                    <div class="social-media">
                        <a href="#"><img src="Image Assets/in-logo.png" alt="LinkedIn"></a>
                        <a href="#"><img src="Image Assets/fb-logo.png" alt="Facebook"></a>
                        <a href="#"><img src="Image Assets/inta-logo.png" alt="Instagram"></a>
                    </div>
                </div>
                <button>Lihat Jadwal</button>
            </div>

            <div class="doctor-card">
                <img src="Image Assets/1.png" alt="fotoDokter">
                <div class="name-box">
                    <h3>Nama Dokter</h3>
                    <p>nama dokter terpilih</p>
                    <div class="social-media">
                        <a href="#"><img src="Image Assets/in-logo.png" alt="LinkedIn"></a>
                        <a href="#"><img src="Image Assets/fb-logo.png" alt="Facebook"></a>
                        <a href="#"><img src="Image Assets/inta-logo.png" alt="Instagram"></a>
                    </div>
                </div>
                <button>Lihat Jadwal</button>
            </div>

            <div class="doctor-card">
                <img src="Image Assets/1.png" alt="fotoDokter">
                <div class="name-box">
                    <h3>Nama Dokter</h3>
                    <p>nama dokter terpilih</p>
                    <div class="social-media">
                        <a href="#"><img src="Image Assets/in-logo.png" alt="LinkedIn"></a>
                        <a href="#"><img src="Image Assets/fb-logo.png" alt="Facebook"></a>
                        <a href="#"><img src="Image Assets/inta-logo.png" alt="Instagram"></a>
                    </div>
                </div>
                <button>Lihat Jadwal</button>
            </div>

            <div class="doctor-card">
                <img src="Image Assets/1.png" alt="fotoDokter">
                <div class="name-box">
                    <h3>Nama Dokter</h3>
                    <p>nama dokter terpilih</p>
                    <div class="social-media">
                        <a href="#"><img src="Image Assets/in-logo.png" alt="LinkedIn"></a>
                        <a href="#"><img src="Image Assets/fb-logo.png" alt="Facebook"></a>
                        <a href="#"><img src="Image Assets/inta-logo.png" alt="Instagram"></a>
                    </div>
                </div>
                <button>Lihat Jadwal</button>
            </div>
        </section>
    </main>


</body>

</html>