<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nusantara Medical Care</title>
    <link rel="stylesheet" href="/css/Pelanggan-Main-Style.css">
    <script src=""></script>
</head>
<body>
    <header>
        <img src="/Image Assets/1.png" alt="" id="logoNMC">
        
        <h1>Nusantara Medical Care</h1>

        <div class="Informasi-Header">
            <span class="item-1">Hubungi Kami</span>
            <span class="item-2">Jam Operasional</span>
        </div>
    </header>

    <div class="blue-bar">
        <button class="button">Sign In</button>
    </div>

    <div class="klinik-container">
        <button class="home">Home</button>
        <button class="penyakit-dalam">K.Penyakit Dalam</button>
        <button class="tht">K. THT</button>
        <button class="gigi">K. Gigi</button>
        <button class="mata">K. Mata</button>
        <button class="paru-paru">K. Paru-Paru</button>
    </div>

    <div class="body-website">
        <img src="/Image Assets/DALL·E 2024-10-23 14.18.00 - A peaceful and welcoming clinic environment, with a small, modern clinic building in the background. The setting includes a clean, open space with gre.webp" alt="Image Rumah Sakit">

        <div class="body-text">
            <h2>We are here to help you</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque, ut perspiciatis nihil deserunt fugiat fugit impedit aperiam commodi tenetur at aut, tempore nulla nesciunt veritatis numquam sint cumque porro doloribus!</p>
            <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum ex aut corrupti omnis vero sint nesciunt quaerat modi, sapiente, deserunt dicta neque error. Suscipit quae et, inventore neque sint velit?</P>
        </div>
    </div>


</body>
</html>