<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nusantara Medical Care</title>
    <link rel="stylesheet" href="/css/Pelanggan-SignIn-Style.css">
    <script src="/js/SignInMenu.js" async></script>
</head>
<body>
    <header>
        <img src="/Image Assets/1.png" alt="" id="logoNMC">

        <h1>Nusantara Medical Care</h1>

        <div class="Informasi-Header">
            <span class="item-1">Hubungi Kami</span>
            <span class="item-2">Jam Operasional</span>
        </div>
    </header>

    <div class="blue-bar">
    </div>

    <div class="body-content">
        <div class="wraper">
            <form action="/pasien/main" method="post">
                <h1>Nusantara Medical Care</h1>
                <div class="input-box">
                    <input type="text" id="noHP" name="noHP" placeholder="Nomor Telepon">
                    <i class="bi bi-telephone-fill">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-telephone-fill" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.68.68 0 0 0 .178.643l2.457 2.457a.68.68 0 0 0 .644.178l2.189-.547a1.75 1.75 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.6 18.6 0 0 1-7.01-4.42 18.6 18.6 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877z"/>
                          </svg>
                    </i>
                </div>
                <div class="register">
                    <span class="register-click" action="pasien/register" method="GET">Belum punya akun?</span>
                </div>
                <!--Sementara jadi button dulu, nanti akan diubah tipenya ke submit-->
                <button type="submit" class="log-in-button">Log In</button>
            </form>
        </div>
    </div>
</body>
</html>