<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nusantara Medical Care</title>
    <link rel="stylesheet" href="/css/Perawat-Main-Style.css">
    <script src="/js/Bayar.js" defer></script>
</head>
<body>
    <header>
        <img src="/Image Assets/1.png" alt="" id="logoNMC">
        
        <h1>Nusantara Medical Care</h1>

        <div class="Informasi-Header">
            <span class="item-1">Hubungi Kami</span>
            <span class="item-2">Jam Operasional</span>
        </div>
    </header>

    <div class="blue-bar">
        <span>Selamat datang, <span th:text="${name}">Dokter</span></span>
        <img src="/Image Assets/icons8-person-50.png" alt="">
    </div>

    <div class="body-website">
        <div class="body-title">
            <h3>Daftar Pasien</h3>
            <table>
                <tr>
                    <th>No Rekam Medis</th>
                    <th>Nama Pasien</th>
                    <th>Waktu Konsultasi</th>
                    <th>Status Pemeriksaan</th>
                    <th>Action</th>
                </tr>
                <tr>
                    <td>NMC-20240101</td>
                    <td>Feliks Mindo Tua Sitorus</td>
                    <td>13/05/2022</td>
                    <td>-</td>
                    <td>
                        <button class="action-btn" onclick="showPopup()">Check</button>
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <!-- Popup Check -->
    <div id="popupBayar" class="popup">
      <div class="popup-content">
          <h3 id="popupTitle">Informasi Dasar Pasien</h3>
          <form>
              <label for="rekamMedis">Tinggi Badan:</label>
              <input type="text" id="rekamMedis">

              <label for="namaPasien">Berat Badan:</label>
              <input type="text" id="namaPasien">

              <label for="totalPembayaran">Suhu Badan:</label>
              <input type="text" id="totalPembayaran">

              <label for="tanggalPembayaran">Tekanan Darah:</label>
              <input type="text" id="namaPasien">

              <label for="biayaAdministrasi">Keluhan:</label>
              <input type="text" id="namaPasien">

              <label for="biayaTindakan">Hasil Pemeriksaan Laboratorium:</label>
              <input type="file" id="namaPasien">

              <button type="button" class="btn close-btn" onclick="hidePopup()">Kembali</button>
              <button type="submit" class="btn submit-btn">Update</button>
          </form>
      </div>
  </div>

    <!-- Popup Informasi Dasar Pasien -->
    <!--<div id="popup-informasi-dasar" class="popup hidden">
        <div class="popup-informasi-dasar-container">
            <h2>Informasi Dasar Pasien</h2>
            <form>
                <label for="tinggi">Tinggi Badan</label>
                <input type="text" id="tinggi" value="170" readonly>

                <label for="berat">Berat Badan</label>
                <input type="text" id="berat" value="55" readonly>

                <label for="tekanan">Tekanan Darah</label>
                <input type="text" id="tekanan" value="Normal" readonly>

                <label for="keluhan">Keluhan</label>
                <textarea id="keluhan" readonly>Sakit kepala, demam, menggigil</textarea>

                <button type="button" id="closePopup" class="close-button">Back</button>
            </form>
        </div>
    </div>-->

    
</body>
</html>